@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}


/*Body general settings*/
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #595959;
}

/*Navigation Bar*/

/*Nav General*/


.nav {
    display: flex;
    position: sticky;
    background-color: black;
    top: 0px;
    padding: 8px 20px;
    justify-content: space-between;
    gap: 8%;
    padding-bottom: 10px;
}

.nav ul {
    list-style-type: none;
    padding-left: 0%;
}

.nav ul img {
    filter: invert(1);
    width: 35px;
}

/*Nav bar left portion*/

.nav .left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;

}

.nav .left input {
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: #2a2a2a;
    flex-grow: 1;
    color: white;
    font-size: 14px;
}

.nav .left .input {
    flex-grow: 1;
    display: flex;
}

.nav .left input::placeholder {
    color: #b3b1aa;
    font-size: 18px;
}

/*Nav bar right portion*/

.nav .right {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    color: #cfcbcb;
    font-size: 25px;
}

.nav .right .lefthalf {
    display: flex;
    font-size: 16px;
    gap: 8px;
}

.nav .right .righthalf {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 20px;
}

.nav .right .righthalf button {
    font-weight: 700;
    font-size: 16px;
    padding: 15px 10px;
    width: 90px;
    border: none;
    border-radius: 20px;
}

/*Side Section*/
.container {
    background-color: #000000;
    margin-bottom: 45px;
}

.container .side {
    display: flex;
    flex-direction: column;
    width: 35%;
    ;
    height: 87vh;
    background-color: #121212;
    position: fixed;
    left: 1%;
    border-radius: 15px;
}

.container .side h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

.container .side .libraryBox {
    display: grid;
    overflow-y: scroll;
    margin-top: 30px;
    height: 300px;
    gap: 30px;
    grid-template-columns: 90%;
    justify-content: center;
    flex-shrink: 2;
}

.container .side .libraryBox .sideBox1,
.sideBox2 {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
}

.container .side .libraryBox h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-left: 6%;
    margin-top: 20px;

}

.container .side .libraryBox p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    width: 70%;
    margin-left: 6%;
    margin-top: 20px;
}

.container .side .libraryBox button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 6%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.container .side .footer {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    gap: 25px;
    margin-top: 10vh;
    margin-bottom: 80px;
    font-size: 12px;
}

/*Side bar scroll bar*/
.side .libraryBox::-webkit-scrollbar {
    width: 12px;
    /* or height for horizontal scroll */
}

.side .libraryBox::-webkit-scrollbar-track {
    background: transparent;
    /* hides the track */
}

.side .libraryBox::-webkit-scrollbar-thumb {
    background-color: #595959;
    /* thumb color */
}

/*Fixed bottom*/

.bottom {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    left: 1%;
    right: .25vw;
    height: 45px;
    background-color: #000000;
    border-top: none;
}

.bottom input {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #212121;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom .playButtons {
    display: flex;
    gap: 10px;
}

.bottom button {
    border: none;
    background-color: transparent;
    filter: invert(1);
}
.bottom .btnPlay{
    transition: display 2s ease-in;
}
.bottom button:focus{
    outline: none;
}


.bottom img {
    width: 25px;
}

/*Main section*/

.main {
    background-color: #212121;
    margin-left: 37%;
    border-radius: 15px;
    border-right: .25vw solid black;
}

.main p:first-child {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}

.main .cardContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
}

.main .cardContainer img {
    width: 160px;
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.49, 0.21, 0.27, 1.2);
}

.main .cardContainer button {
    font-family: "Raleway", sans-serif;
    display: block;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    color: white;
}



.main .cards {
    width: 150px;
}

/*Responisive Design*/

@media (max-width:670px) {
    body .container .side {
        height: 98vh;
    }

}

@media (max-width:480px) {
    .left {
        display: none !important;
    }

    .libraryBox button {
        margin-top: 25px !important;
        margin-left: 0px !important;
        padding: 5px 6px !important;
        font-size: 14px !important;
    }
}

/*Animations*/
.cards img:hover {
    filter: invert(1);
}